.app{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
}
.main{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.search{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding: 16px 10px;
}
.search .logo{
    width: 10%;
    margin-right: 15px;
}
.search .logo .logo-icon{
    background-position: center;
    float: left;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #fff;
    width: 42px;
    height: 42px;
    background: orangered;
    margin-top: -3px;
    margin-right: 5px;
}
.search .logo h1{
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: helvetica, arial, sans-serif;
    margin-top: 11px;
    font-size: 1.5em;
}
.search .input-container{
    width: 90%;
    position: relative;
    float: left;
}
.search input{
    width: calc(100% - 45px);
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    color: #999;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 2px #999;
    margin-top: 3px;
}
.search input:focus{
    outline: none;
}
.map{
    flex-grow: 1;
    height: 100vh;
    top: 0px;
    position: sticky;
}

.spots{
    display: flex;
    clear: both;
    flex-wrap: wrap;
    align-content: flex-start;
}
.mamrker{
    background-position: center center;
}


